section:nth-child(1) {
  display: flex;
  height: 100%;
  background-image: url('/assets/image/login/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  .container {
    display: flex;
    width: 90%;
    max-width: 1024px;
    margin: auto;
    background-color: #fff;

    .text-wrapper {
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 24px;
      background: #364153;
      color: #fff;
    }

    .form-wrapper {
      flex: 6;

      >form {
        width: 50%;
        margin: auto;
        padding: 96px 0;

        .full-width {
          width: 100%;
        }

        .form-group {
          margin-bottom: 0.84375em;
        }
      }
    }
  }
}

// @media (min-width: 768px) {
//   .text-wrapper,
//   .form-wrapper {
//     padding: 0 24px;
//   }
// }

// @media (min-width: 1280px) {
//   section:nth-child(1) {
//     padding: 128px 0;
//   }
// }

@media (max-width: 640px) {

  //<=640
  section:nth-child(1) {
    .container {
      width: 80%;

      .text-wrapper {
        display: none;
      }

      .form-wrapper {
        >form {
          width: 80%;
          padding: 24px 0;
        }
      }
    }
  }
}
