/* header */
mat-toolbar.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  z-index: 2;
  padding: 0px;
  align-items: center;
  font-size: 16px;

  .navbar-list {
    display: flex;
    align-items: center;
    height: inherit;

    .navbar-item {
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 8px;
      min-width: 48px;

      .navbar-item-avatar {
        width: 28px;
        height: 28px;
        border-radius: 50%;
      }
    }
  }
}

mat-toolbar.navbar-header.flex {
  display: flex;
  flex-wrap: wrap;

  .flex-spacer {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
}

/* container */
.container {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;

  /* sidenav */
  mat-sidenav.sidenav {
    align-items: center;
    justify-content: center;

    mat-nav-list.menu-list {

      mat-list-item.active {
        background: rgba(0, 0, 0, 0.04);
      }

      mat-list-item {
        i {
          position: absolute;
          left: 0;
          top: 0;
          width: 3px;
          height: inherit;
        }

        .menu-item {
          display: flex;
          align-items: center;

          span {
            font-size: 14px;
          }
        }

        .forward {
          position: absolute;
          right: 0;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }

      mat-nav-list.submenu-list {
        padding: 0;
        overflow: hidden;
        max-height: 0px;

        mat-list-item {
          height: 40px;
        }

        .submenu-item {
          flex: 1;
          display: flex;
          align-items: center;
          height: inherit;
          padding-left: 8px;
        }
      }
    }
  }

  mat-sidenav-content {
    // padding: 24px;
    // height: calc(100% - 48px);
    overflow-x: hidden;

    // scrollbar style
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
    }

    matx-popover {
      position: fixed;
      top: 20%;
      right: 150px;
      z-index: 100;
    }
  }
}

/** project **/
.project-wrapper {
  height: 100%;
}

/* cdk-overlay */
.theme-item,
.theme-item mat-icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
}
