<!-- toolbar -->
<!-- color="primary" > class="mat-primary" -->
<mat-toolbar color="primary" class="mat-primary navbar-header flex" [ngClass]="{'mat-elevation-z6': !hasChildToolbar}">
  <div class="navbar-list">
    <button mat-button class="navbar-item" (click)="matSidenav.toggle()">
      <!-- <mat-icon>menu</mat-icon> -->
      <i class="material-icons">menu</i>
    </button>
    <!-- <button mat-button class="navbar-item" routerLink="/main">Application Title</button> -->
    <button mat-button class="navbar-item" (click)="router.navigate(['/main'])">Application Title</button>
  </div>
  <!-- This fills the remaining space of the current row -->
  <span class="flex-spacer"></span>
  <div class="navbar-list">
    <button mat-icon-button [matMenuTriggerFor]="ThemeMenu">
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <span>Right Aligned Text</span>
    <button mat-button class="navbar-item" [matMenuTriggerFor]="AvatarMenu">
      <img class="navbar-item-avatar" src="/assets/image/msa.png">
    </button>
  </div>
</mat-toolbar>

<!-- container -->
<mat-sidenav-container class="container" [autosize]="true">
  <!-- sidenav -->
  <mat-sidenav #sidenav mode="side" opened="false" class="sidenav mat-elevation-z9">
    <mat-nav-list class="menu-list">
      <div *ngFor="let menu of menus">
        <a [routerLink]="menu.link" *ngIf="!menu.children">
          <mat-list-item [ngClass]="{'active': menu.active}" (click)="navigate(menu)">
            <i class="primary" *ngIf="menu.active"></i>
            <div mat-button class="menu-item" [matTooltip]="_current_style != SidenavStyle.Default ? menu.name : ''"
              matTooltipPosition="after">
              <mat-icon class="mat-primary">{{menu.icon}}</mat-icon>
              <span *ngIf="_current_style == SidenavStyle.Default">{{menu.name}}</span>
            </div>
          </mat-list-item>
        </a>
        <!-- Default Style -->
        <a (click)="navigate(menu)" *ngIf="menu.children && _current_style == SidenavStyle.Default">
          <mat-list-item [ngClass]="{'active': menu.active}">
            <i class="primary" *ngIf="menu.active"></i>
            <div class="menu-item">
              <mat-icon class="mat-primary">{{menu.icon}}</mat-icon>
              <span>{{menu.name}}</span>
            </div>
            <mat-icon class="md-18 mat-primary forward">chevron_right</mat-icon>
          </mat-list-item>
        </a>
        <mat-nav-list class="submenu-list" *ngIf="menu.active && _current_style == SidenavStyle.Default">
          <a [routerLink]="submenu.link" *ngFor="let submenu of menu.children" (click)="navigate(submenu, menu)">
            <mat-list-item [ngClass]="{'active': submenu.active}">
              <i class="primary" *ngIf="submenu.active"></i>
              <div class="submenu-item">
                <mat-icon class="mat-primary">{{submenu.icon}}</mat-icon>
                <span>{{submenu.name}}</span>
              </div>
            </mat-list-item>
          </a>
        </mat-nav-list>
        <!-- Mini Style -->
        <a [matMenuTriggerFor]="Submenu" [matMenuTriggerData]="{'menu': menu}"
          *ngIf="menu.children && _current_style == SidenavStyle.Mini">
          <mat-list-item [ngClass]="{'active': menu.active}" [matTooltip]="menu.name" matTooltipPosition="after">
            <i class="primary" *ngIf="menu.active"></i>
            <mat-icon class="mat-primary">{{menu.icon}}</mat-icon>
            <mat-icon class="md-18 mat-primary forward">chevron_right</mat-icon>
          </mat-list-item>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <!-- viewport -->
  <mat-sidenav-content>
    <matx-popover position="leftBottom">
      <ng-container class="popover-button-content">
        <mat-icon>settings</mat-icon>
      </ng-container>
      <div class="layout-header">Title</div>
      <div class="layout-container">
        <mat-nav-list>
          <a mat-list-item>新增信件</a>
          <a mat-list-item>管理聯絡人</a>
        </mat-nav-list>
      </div>
      <div class="layout-footer">Button Group</div>
    </matx-popover>
    <router-outlet>
      <!-- <div *ngIf="!_current_project" class="project-wrapper">
        <app-project></app-project>
      </div> -->
    </router-outlet>
    <footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Sidenav submenu list -->
<mat-menu #Submenu [overlapTrigger]="true" xPosition="before" class="menu-wrapper submenu-wrapper">
  <ng-template matMenuContent let-menu="menu">
    <a mat-menu-item [routerLink]="submenu.link" *ngFor="let submenu of menu.children"
      (click)="navigate(submenu, menu)">
      <mat-icon color="primary">{{submenu.icon}}</mat-icon>
      <span>{{submenu.name}}</span>
    </a>
  </ng-template>
</mat-menu>

<!-- Personalized settings menu list -->
<mat-menu #AvatarMenu [overlapTrigger]="false" class="menu-wrapper avatar-menu-wrapper">
  <ng-template matMenuContent>
    <div class="user-menu-item">
      <img class="user-menu-item-image" src="/assets/image/msa.png">
      <div class="user-menu-item-details">
        <span>Pomelor</span>
        <span>fengchao.z@outlook.com</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let item of _settings_menus" [ngSwitch]="item.type">
      <button mat-menu-item *ngSwitchCase="'link'" [matMenuTriggerFor]="item.ref">
        <mat-icon color="primary">{{item.icon}}</mat-icon>
        {{item.name}}
      </button>
      <button mat-menu-item *ngSwitchDefault>
        <mat-icon color="primary">{{item.icon}}</mat-icon>
        {{item.name}}
      </button>
    </ng-container>
  </ng-template>
</mat-menu>

<!-- Theme menu list -->
<mat-menu #ThemeMenu="matMenu" class="theme-menu">
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile *ngFor="let item of themes">
      <button mat-icon-button class="theme-item">
        <mat-icon class="md-48" [style.color]="item.color" (click)="setTheme(item)">lens</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-menu>

<!-- Sidenav style menu list -->
<mat-menu #SidenavStyleMenu class="menu-wrapper">
  <mat-radio-group [(ngModel)]="_current_style">
    <button mat-menu-item *ngFor="let item of SidenavStyleArray; let i = index">
      <mat-radio-button color="primary" [value]="i" (change)="setStyle($event)">{{item}}</mat-radio-button>
    </button>
  </mat-radio-group>
</mat-menu>