mat-toolbar {
  height: 40px;
  min-height: 40px;
  position: sticky;
  top: 0;
  z-index: 1;

  mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    height: inherit;

    >div {
      height: inherit;
    }
  }
}

.app-container {
  padding: 24px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 88px);// mat-toolbar(height:40px) + padding(top:24px + bottom:24px)

  .layout-wrapper {
    position: relative;
    right: 0;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-icon {
  cursor: pointer;
  margin-right: 6px;
}

.grid-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .user-card {
    max-width: 280px;
    margin-bottom: 24px;
  }
}
