.app-container {
  padding: 24px;
  position: relative;

  .layout-wrapper {
    position: relative;
    right: 0;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-icon {
  cursor: pointer;
  margin-right: 6px;
}
