.user-detail {
  display: flex;
  padding: 24px;
}

.mat-button {
  height: inherit;
  min-width: 48px;
  padding: 0;
}

.figure.user-info {
  width: calc(((33.3333% - 0.666667px) * 2) + 1px); // 2/3
  margin-right: 24px;

  .mat-card {
    padding: 0;

    .card-header {
      height: 120px;
      position: sticky;
      top: 0;
      z-index: 2;
    }

    .mat-toolbar {
      height: inherit;
      position: relative;

      .head-portrait {
        display: flex;
        align-items: center;

        .upload-avatar-button {
          position: relative;

          input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            cursor: pointer;
          }
        }

        .user-avatar {
          height: 80px;
          width: 80px;
          font-size: 80px;
          background: none;
          border-radius: 50%;
          overflow: hidden;
          position: relative;

          .mat-icon,
          img {
            height: inherit;
            width: inherit;
            font-size: inherit;
          }
        }

        .intro {
          display: flex;
          flex-direction: column;
          padding-left: 12px;
          position: relative;

          >span:first-child {
            font-size: 18px;
          }

          >span:last-child {
            font-size: 16px;
          }

          .mat-icon-button {
            position: absolute;
            top: -8px;
            left: -28px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            background: #fff;
          }
        }
      }

      .settings {
        position: absolute;
        bottom: -24px;
        right: 24px;
        height: 48px;
        background: #fff;
        border-radius: 100%;
        overflow: hidden;

        &.active {
          border-radius: 4px;
        }

        >.btn-expand {
          .mat-icon {
            width: 32px;
            height: 32px;
            font-size: 32px;
          }
        }
      }

      // .mat-toolbar
    }

    .mat-card-content {
      padding: 24px;

      .tab-content {
        padding: 24px 0;
        overflow: hidden;

        .mat-toolbar {
          height: 40px;
          font-size: 16px;
        }

        .basic-general .basic-general-content,
        .basic-languages .basic-languages-content,
        .basic-contact .basic-contact-content {
          padding: 12px 0;

          .mat-form-field {
            width: 100%;
          }
        }

        .basic-general,
        .basic-languages,
        .basic-contact {
          .row {
            display: flex;
            align-items: center;

            .col {
              flex: 1;
            }

            >.tile {
              flex: none;
              width: 56px;
            }

            textarea {
              padding: 12px 0;
              resize: none;
              line-height: 1.5;
            }
          }
        }

        //.tab-content
      }

      //.mat-card-content
    }

    //.mat-card
  }

  //.figure.user-info
}

.figure.user-setting {
  width: calc(((33.3333% - 0.666667px) * 1) + 0px); // 1/3

  .mat-card-content {
    .mat-divider {
      height: 1px;
      position: relative;
    }

    >.setting-group {
      padding: 24px;

      .mat-form-field {
        width: 100%;
      }
    }
  }

  //.figure.user-setting
}
