<div class="user-detail">
  <div class="figure user-info">
    <mat-card>
      <!-- Custom theming component @link ~src/theme.scss -->
      <mat-toolbar class="card-header" color="primary">
        <div class="head-portrait">
          <div class="user-avatar">
            <mat-icon>account_circle</mat-icon>
          </div>
          <div class="intro">
            <span>PomeloMan(Admin)</span>
            <span>13861800672</span>
          </div>
        </div><!-- head-portrait -->
        <div class="settings mat-elevation-z2" hoverClass="mat-elevation-z6">
          <button mat-icon-button class="btn-expand">
            <mat-icon class="mat-primary" (click)="navigate('/main/system/user/edit', id)">edit</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <mat-card-content>
        <mat-tab-group [disableRipple]="true">
          <mat-tab label="ABOUT">
            <ng-template matTabContent>
              <div class="about-tab tab-content">
                <p>Et sequi sit sit in eius officia est corrupti illo amet expedita labore sed sunt iusto numquam quod
                  sapiente iusto laboriosam debitis qui sapiente dolorem alias vel aut explicabo iure culpa inventore ut
                  debitis voluptate non libero autem voluptas ad ipsa nisi enim voluptatem qui nihil omnis ut voluptas
                  numquam qui vel voluptatum commodi earum aut quibusdam impedit voluptatem exercitationem odio dolores
                  ab reprehenderit nesciunt exercitationem vero libero ut ad aperiam laboriosam aut animi voluptatem
                  perspiciatis voluptas unde id delectus omnis sint laboriosam sit enim tempore recusandae distinctio
                  sequi et eveniet.
                </p>
                <div>
                  <h3>Contact Info</h3>
                  <mat-list>
                    <mat-list-item>
                      <mat-icon matListIcon class="mat-primary">email</mat-icon>
                      <h4 matLine>{{user.contact.email || '--'}}</h4>
                      <p matLine>Secondary: {{user.contact.secondaryEmail || '--'}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon matListIcon class="mat-primary">phone</mat-icon>
                      <h4 matLine>{{user.contact.phoneNumber || '--'}}</h4>
                      <p matLine>Emergency: {{user.contact.emergencyContact || '--'}}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <fa-icon matListIcon class="mat-primary" [fixedWidth]="true" [icon]="['fab', 'facebook']"></fa-icon>
                      <h4 matLine> {{user.contact.facebook || '--'}} </h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <fa-icon matListIcon class="mat-primary" [fixedWidth]="true" [icon]="['fab', 'twitter']"></fa-icon>
                      <h4 matLine> {{user.contact.twitter || '--'}} </h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <fa-icon matListIcon class="mat-primary" [fixedWidth]="true" [icon]="['fab', 'weixin']"></fa-icon>
                      <h4 matLine> {{user.contact.wechat || '--'}} </h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                      <fa-icon matListIcon class="mat-primary" [fixedWidth]="true" [icon]="['fab', 'weibo']"></fa-icon>
                      <h4 matLine> {{user.contact.weibo || '--'}} </h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list>
                </div>
                <div>
                  <h3>Timeline</h3>
                  <matx-timeline mode="alternate">
                    <matx-timeline-item color="red" [date]="'2015-10-01'">
                      Solve initial network problems 1<br>
                      Solve initial network problems 2<br>
                      Solve initial network problems 3
                    </matx-timeline-item>
                    <matx-timeline-item date="2015-09-01">
                      Solve initial network problems 1<br>
                      Solve initial network problems 2<br>
                      Solve initial network problems 3
                    </matx-timeline-item>
                    <matx-timeline-item [template]="Template" date="2015-08-01">
                      Solve initial network problems 1<br>
                      Solve <span style="color:blue;">initial network</span> problems 2<br>
                      Solve initial network problems 3
                    </matx-timeline-item>
                  </matx-timeline>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="POSTS">
            <ng-template matTabContent>
              <div class="tab-content">
                Content 2 - Loaded: {{getTimeLoaded(3) | date:'medium'}}
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="figure user-setting">
    <mat-card>
      <mat-card-header>
        <!-- <mat-card-title>Other settings</mat-card-title> -->
        Other settings
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-divider></mat-divider>
