<mat-toolbar id="header" color="primary" class="navbar-header flex mat-elevation-z6">
    <button mat-icon-button (click)="sidenav.toggle()">
        <i class="material-icons">menu</i>
    </button>
    <span>Application Title</span>
    <!-- This fills the remaining space of the current row -->
    <span class="flex-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="ThemeMenu">
        <mat-icon>format_color_fill</mat-icon>
    </button>
    <mat-menu #ThemeMenu="matMenu" class="theme-menu">
        <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile *ngFor="let item of themes">
                <button mat-icon-button class="theme-item">
                    <mat-icon class="md-48" [style.color]="item.color" (click)="setTheme(item.class)">lens</mat-icon>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-menu>
    <span>Right Aligned Text</span>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened="false" class="sidenav mat-elevation-z9">
        <mat-nav-list>
            <a routerLink="/main/dashboard">
                <mat-list-item matTooltip="Dashboard" matTooltipPosition="after">
                    <mat-icon class="mat-primary">dashboard</mat-icon>
                </mat-list-item>
            </a>
            <a [matMenuTriggerFor]="SystemMenu" class="parent-menu">
                <mat-list-item matTooltip="Dashboard" matTooltipPosition="after">
                    <mat-icon class="mat-primary">dashboard</mat-icon>
                </mat-list-item>
                <mat-menu #SystemMenu="matMenu" [overlapTrigger]="false" x-position="after">
                    <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                    </mat-list>
                </mat-menu>
            </a>
            <a [matMenuTriggerFor]="SystemMenu" class="parent-menu">
                <mat-list-item matTooltip="Dashboard" matTooltipPosition="after">
                    <mat-icon class="mat-primary">dashboard</mat-icon>
                </mat-list-item>
                <mat-menu #SystemMenu="matMenu" [overlapTrigger]="false" x-position="after">
                    <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                    </mat-list>
                </mat-menu>
            </a>
            <a [matMenuTriggerFor]="SystemMenu" class="parent-menu">
                <mat-list-item matTooltip="Dashboard" matTooltipPosition="after">
                    <mat-icon class="mat-primary">dashboard</mat-icon>
                </mat-list-item>
                <mat-menu #SystemMenu="matMenu" x-position="after">
                    <mat-list role="list">
                        <mat-list-item role="listitem">Item 1</mat-list-item>
                        <mat-list-item role="listitem">Item 2</mat-list-item>
                        <mat-list-item role="listitem">Item 3</mat-list-item>
                    </mat-list>
                </mat-menu>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <footer>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>