<div (click)="toggle()" [@toggle]="state"></div>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile *ngFor="let tile of tiles" [@flyInOut]="'in'">
    <div style="width:90%">
      <mat-card class="card">
        <p>{{tile}}</p>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="300px">
  <mat-grid-tile>
    <div style="width:90%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
            agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div class="calendar-wrapper" [ngSwitch]="view">
  <mat-card class="card">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)" [cellTemplate]="cellTemplate" [eventTitleTemplate]="eventTitleTemplate">
      <ng-template #cellTemplate let-day="day" let-openDay="openDay" let-locale="locale" let-tooltipPlacement="tooltipPlacement"
        let-highlightDay="highlightDay" let-unhighlightDay="unhighlightDay" let-eventClicked="eventClicked"
        let-tooltipTemplate="tooltipTemplate" let-tooltipAppendToBody="tooltipAppendToBody">
        <span class="cal-day-number" [ngClass]="{ 'cal-day-badge': day.badgeTotal > 0, 'cal-event-active': (viewDate.getTime() === day.date.getTime() && activeDayIsOpen) }">{{
          day.date | calendarDate:
          'monthViewDayNumber':locale }}</span>
      </ng-template>
      <ng-template #eventTitleTemplate let-event="event" let-view="view">
        <span class="cal-event-title abc" (mouseenter)="calendarMonthView.toggleDayHighlight(event, true)" (mouseleave)="calendarMonthView.toggleDayHighlight(event, false)"
          [innerHTML]="event.title | calendarEventTitle: view:event"></span>
      </ng-template>
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </mat-card>
</div>
<div class="calendar-event-wrapper">
  <h3>
    Edit events
    <button class="btn btn-primary pull-right">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>

  <table mat-table [dataSource]="events">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="element.title" (keyup)="refresh.next()" />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="primaryColor">
      <th mat-header-cell *matHeaderCellDef>Primary Color</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput type="color" [(ngModel)]="element.color.primary" (change)="refresh.next()" />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="secondaryColor">
      <th mat-header-cell *matHeaderCellDef>Secondary Color</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput type="color" [(ngModel)]="element.color.secondary" (change)="refresh.next()" />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="starts">
      <th mat-header-cell *matHeaderCellDef>Starts at</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [(ngModel)]="element.start" (dateChange)="refresh.next()" [matDatepicker]="picker"
            placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="ends">
      <th mat-header-cell *matHeaderCellDef>Ends at</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [(ngModel)]="element.end" (dateChange)="refresh.next()" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef>Operation</th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-danger" (click)="events.splice(index, 1); refresh.next()"> Delete </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="eventColumns"></tr>
    <tr mat-row *matRowDef="let i = index; let row; columns: eventColumns;"></tr>
  </table>
</div>
