/* .card {
    max-width: calc(100%/4 - 16px);
} */

.inactive {
  height: 0px !important;
}

.active {
  height: 10px;
  width: 100%;
  background-color: red;
}

.calendar-wrapper {
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}

.calendar-event-wrapper {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}
