@mixin matx-loading-button-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-raised-button.matx-loading-button {
    &[disabled] {
      background-color: mat-color($primary, 0.24);
      color: mat-color($background, raised-button);

      .mat-progress-spinner,
      .mat-spinner {
        circle {
          stroke: mat-color($background, raised-button);
        }
      }
    }
  }
}

@mixin matx-timeline-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .matx-timeline-item-tail {
    border-left-color: mat-color($foreground, divider);
  }

  .matx-timeline-circle {
    background-color: white;
    border-color: mat-color($primary);
    color: mat-color($primary);
  }
}

@mixin matx-theme($theme) {
  @include matx-loading-button-theme($theme);
  @include matx-timeline-theme($theme);
}
