// {@link https://material.angular.io/guide/theming-your-components}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$default-primary: mat-palette($mat-indigo);
$default-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$default-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$default-theme: mat-light-theme($default-primary, $default-accent, $default-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component that you are using.
// Include theme styles for Angular Material components.
@include angular-material-theme($default-theme);
@include angular-material-theme-custom($default-theme);
@include app-theme($default-theme);


@include ng-popover-theme($default-theme);
@include ch-typography();
@include ch-theme($default-theme);

// Include the theme styles for only specified components.
// @include mat-core-theme($default-theme);
// @include mat-button-theme($default-theme);
// @include mat-checkbox-theme($default-theme);

// angular-calendar
@include angular-calendar-theme($default-theme);

@include matx-theme($default-theme);