@import '~@angular/material/theming';
@import '../projects/material-ext/theme';

@mixin app-avatar-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .user-avatar {
    background-color: mat-color($foreground, divider);
  }
}

@mixin app-theme($theme) {
  @include app-avatar-theme($theme);
}


// ng-theme
@mixin ng-popover-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .ng-popover .popover-button {
    background: mat-color($background, 'card');
  }

  .popover-layout-pane {
    background-color: mat-color($background, 'card');
  }
}




@mixin fa-icon-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .ng-fa-icon {
    &.mat-primary {
      color: mat-color($primary);
    }

    &.mat-accent {
      color: mat-color($accent);
    }

    &.mat-warn {
      color: mat-color($warn);
    }
  }
}

@import 'middleware/ch.theme.scss';

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin mat-sidenav-theme-custom($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);

  // Define any styles affected by the theme.
  .mat-sidenav-content {
    &::-webkit-scrollbar-thumb {
      background-color: mat-color($primary);
    }
  }
}

@mixin mat-list-theme-custom($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .mat-list-item {
    i {
      background-color: mat-color($primary);
    }
  }

  .mat-list-item.mat-list-option {
    color: mat-color($foreground, text);

    &.mat-list-option-disabled {
      text-decoration: line-through;
      color: mat-color($foreground, disabled-text);
    }
  }
}

@mixin angular-material-theme-custom($theme) {
  @include mat-sidenav-theme-custom($theme);
  @include mat-list-theme-custom($theme);
  @include fa-icon-theme($theme);
}


// typography
@mixin mat-form-field-typography-custom($config) {
  $line-height: mat-line-height($config, input);
  $prefix-suffix-icon-font-scale: 1.25;
  $prefix-suffix-icon-font-size: $prefix-suffix-icon-font-scale * 100%;

  .mat-form-field-prefix,
  .mat-form-field-suffix {
    .ng-fa-icon {
      font-size: $prefix-suffix-icon-font-size;
      line-height: $line-height;
    }
  }
}


// angular-calendar
@mixin angular-calendar-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .cal-month-view .cal-header .cal-cell::after {
    background: mat-color($foreground, divider);
  }

  .cal-month-view .cal-cell.cal-today .cal-day-number {
    color: mat-color($primary, default-contrast);
    background-color: mat-color($primary);
    border-color: mat-color($primary);
  }

  .cal-month-view .cal-cell.cal-out-month .cal-day-number {
    color: mat-color($foreground, hint-text);
  }

  .cal-month-view .cal-open-day-events {
    color: mat-color($foreground, text);
    background-color: mat-color($background, background);
    box-shadow: inset 0 0 15px 0 mat-color($foreground, divider);
  }

  .cal-month-view .cal-cell {
    .cal-day-number {
      border-color: transparent;
    }

    &:not(.cal-today) .cal-day-number.cal-day-badge {
      border-color: mat-color($foreground, divider);
    }

    &:not(.cal-today):not(.cal-out-month) .cal-day-number.cal-day-badge {
      &:hover {
        background-color: mat-color($background, hover);
      }

      &.cal-event-active {
        border-color: mat-color($primary);
        box-shadow: 0 0 0 1px mat-color($primary);
      }
    }
  }
}

@mixin angular-calendar-typography($config) {
  .cal-month-view {
    font-family: mat-font-family($config);
  }

  .cal-header .cal-cell {
    font: {
      size: $mat-calendar-weekday-table-font-size;
      weight: mat-font-weight($config, body-1);
    }
  }

  .cal-cell {
    font-size: $mat-calendar-body-font-size;
  }

  .mat-calendar-body-label,
  .mat-calendar-period-button {
    font: {
      size: mat-font-size($config, button);
      weight: mat-font-weight($config, button);
    }
  }
}

$config: mat-typography-config();
@include mat-core($config);
@include ch-typography($config);
@include mat-form-field-typography-custom($config);
@include angular-calendar-typography($config);

@import './theme/indigo-pink.theme.scss';
@import './theme/deeppurple-amber.theme.scss';
@import './theme/purple-green.theme.scss';
@import './theme/pink-bluegrey.theme.scss';
