@import '~@angular/material/theming';

// ng-theme
@mixin ng-popover-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .ng-popover .popover-button {
    background: mat-color($background, 'card');
  }

  .popover-layout-pane {
    background-color: mat-color($background, 'card');
  }
}

@include mat-core();
@import 'middleware/ch.theme.scss';

@import './theme/indigo-pink.theme.scss';
@import './theme/deeppurple-amber.theme.scss';
@import './theme/purple-green.theme.scss';
@import './theme/pink-bluegrey.theme.scss';
